# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
backend/venv/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Node
frontend/node_modules/

# Build
frontend/dist/