/* ==========================================
              FOOTER
========================================== */


/* ==========================================
            FOOTER LAYOUT
========================================== */

.footer {
  margin-top: 50px;

  padding: 20px;

  text-align: center;

  background: #0F172A;

  color: white;
}


/* ==========================================
            FOOTER HEADING
========================================== */

.footer h3 {
  color: white;

  margin-bottom: 8px;

  font-size: 22px;
}


/* ==========================================
            FOOTER DESCRIPTION
========================================== */

.footer p {
  margin: 5px 0;

  font-size: 15px;
}


/* ==========================================
            FOOTER COPYRIGHT
========================================== */

.footer-copy {
  margin-top: 10px;

  font-size: 13px;

  color: #CBD5E1;
}