/* ==========================================
              GLOBAL APP LAYOUT
========================================== */


/* ==========================================
              APP CONTAINER
========================================== */

.app {
  min-height: 100vh;

  display: flex;

  flex-direction: column;

  background: #F5F7FB;
}


/* ==========================================
              MAIN CONTENT
========================================== */

.hero-section {
  flex: 1;

  display: flex;

  flex-direction: column;

  align-items: center;

  text-align: center;

  padding: 20px;
}


/* ==========================================
              GLOBAL HEADINGS
========================================== */

h1 {
  font-size: 3rem;

  color: #0F172A;

  margin-bottom: 10px;
}


/* ==========================================
              GLOBAL PARAGRAPHS
========================================== */

p {
  font-size: 1.2rem;

  color: #4B5563;

  margin-bottom: 35px;

  max-width: 700px;
}


/* ==========================================
              GLOBAL BUTTONS
========================================== */

button {
  border: none;

  border-radius: 30px;

  color: white;

  font-size: 16px;

  cursor: pointer;

  transition: 0.3s;
}


button:hover {
  transform: translateY(-2px);
}