.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 20px;

  background: #f5f7fb;
}

h1 {
  font-size: 3rem;
  color: #0F172A;   
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #4B5563;  
  margin-bottom: 35px;
  max-width: 700px;
}

button {
  width: 300px;
  padding: 15px;
  margin: 10px;

  border: none;
  border-radius: 30px;

  background: #2563EB;
  color: white;

  font-size: 16px;
  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  background: #1E40AF;
}